/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/01/2019, 1:51:17 PM
    Author     : Dev
*/
@import "_constants.scss"; 
html{
    width:100vw;
    height:100vh;
}

body{
    margin: 0;
    width:100vw;
    height:100vh;
}

.picture_full_screen{
    width:100vw;
    height:100vh;
    background-image: url("../images/fullscreenimage.jpg");
    background-size: cover;
    background-origin: -5% -5%;
    background-repeat: no-repeat;
    shape-outside: polygon(0% 0%, 0% 10%, 100% 100%, 0% 100%);
}

.float_right{
    margin-right: 5vw;
    text-align: justify;
}

.float-left{
    float:left;
    width: 100vw;
    height: 100vh;
    shape-outside: polygon(0% 0%, 50% 0%, 50% 50%, 10% 0%, 90% 100%, 0% 100%);
}

.mail, .mail:hover{
    background-color: #359aff; 
}

h2{
    padding-bottom: 1.5em;
}

h2:first-letter{
   font-family: 'Monoton', cursive;
    font-weight: 200;
    font-size: 1.2em;
}

p:last-of-type{
    margin-bottom: 3em;
}

/*a{
    background-color: rgba(0,0,0,0);
    margin-left: 0;
    padding: 0px;
    clip-path: none;
    
    
}*/
a:visited{
    color: white;
}/*
a:hover{
    background-color: rgba(0,0,0,0);
    background: none;
    margin-left: 0;
    clip-path: none;
}*/

@media only screen and (max-width:440px) {
    
    .float-left{
        float: none;
        width: 100%;
        height: 25vh;
        shape-outside: none;
        background-image: url("../images/fullscreenimage.jpg");
        background-size: 100% 100%;
    }
    
    .float_right{
        padding: none;
        width: 90%;
        margin: auto;
        padding-bottom: 5em;
        padding-top: 5em;
        
    }
    
    .picture_full_screen{
        background-image: none;
    }
    
    
}