/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/01/2019, 1:51:17 PM
    Author     : Dev
*/
@import "_constants.scss"; 
html{
    background: linear-gradient(to bottom, $home-bg-blue 60%, #ff99cc 200%);
   
    overflow-x: hidden;
    
}

body{
    color:white;
    text-align: center;
}

.content{
    padding-top: calc(50vh - 200px);
}

.seventy_width{
    width: 70%;
    margin-left: 15%;
}

.diamond{
   
    margin:auto;
    width: 100px;
    height: 100px;

    margin-bottom: 20px;
    background-color: #359aff; 
    transition: 0.2s cubic-bezier(1, -1, 0, 2);
    clip-path: polygon(50% 0%, 65% 15%, 75% 25%, 90% 40%, 100% 50%, 90% 60%, 75% 75%, 65% 85%, 50% 100%, 35% 85%, 10% 60%, 0 50% ,10% 40% ,20% 30%, 35% 15%);
}

.intro_text{
    box-sizing: border-box;
    
    text-align: left;
}

.neal_picture{
    background-image: url("../images/fullscreenimage_smaller.png");
    padding-bottom: 20em;
    background-size: cover;
    background-position-x: 20px;
    background-repeat: no-repeat;

}

.flex_container{
    display: flex;
}

.flex_item{
    width:50%;
}

.third_size{
    width: 15%;
    margin-left: 9%;
    margin-right: 9%;
    padding-bottom: 15%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent !important;
    
}

.narrow_width{
    width: 50%;
    margin-left: 25%;
}

.section{
    margin-top: 7em;
    margin-bottom: 7em;

}

.links_container{
    width:50%;
}

.links_section{
    text-align: left;
    color:white;
}

.end_pad{
    padding-bottom: 5em;
}

//setting icon images in this section
.html{
    background-image: url("../images/skills_icons/html5.png");
    
}

.css{
    background-image: url("../images/skills_icons/css3.png");
}

.js{
    background-image: url("../images/skills_icons/js.png");
}

.github_link{
    background-image: url("../images/links_icons/github.png");
}

.linkedin_link{
    background-image: url("../images/links_icons/linkedin.png");
}

.instagram_link{
    background-image: url("../images/links_icons/instagram.png");
}

@media only screen and (max-width:440px) {

    .flex_container{
        display: inline-block;
    }

    .flex_item{
        width:100%;
    }

    .neal_picture{
        background-image: url("../images/fullscreenimage_smaller.png");
        padding-bottom: 10em;
        background-position-x: left;
        background-size: contain;
        background-repeat: no-repeat;
    
    }
    .narrow_width{
        width: 90%;
        margin-left: 5%;
    }

    
    .phone_flex_container{
        display: flex;
    }
    
    .phone_flex_item{
        width:50%;
    }

}