/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/01/2019, 1:51:17 PM
    Author     : Dev
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/01/2019, 2:15:12 PM
    Author     : Dev
*/
html {
  font-family: "Fira Sans", sans-serif; }

.link {
  margin-right: 0.5em;
  margin-left: 0.5em;
  font-size: 1em;
  font-weight: 100;
  background: #ff1111;
  padding: 5px 40px;
  transition: 0.2s cubic-bezier(1, -1, 0, 2);
  clip-path: polygon(10% 0, 100% 0, 95% 50%, 90% 100%, 0 100%);
  text-decoration: none;
  color: white; }

.link:visited {
  color: white;
  text-decoration: none; }

.link:hover {
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #ff1111;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 0 100%); }

h1 {
  font-size: 4em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 20px; }

h2 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

#LOGO {
  position: fixed;
  top: 2em;
  left: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  transition: 0.2s cubic-bezier(1, -1, 0, 2);
  clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 90% 25%, 90% 90%, 60% 90%, 60% 70%, 60% 70%, 60% 90%, 10% 90%, 10% 25%); }

#LOGO:hover {
  clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 90% 25%, 90% 90%, 60% 90%, 60% 70%, 55% 70%, 55% 90%, 10% 90%, 10% 25%); }

@media only screen and (max-width: 440px) {
  #LOGO {
    top: 0.5em;
    left: 1em;
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em; } }

html {
  background: linear-gradient(to bottom, #000b28 60%, #ff99cc 200%);
  overflow-x: hidden; }

body {
  color: white;
  text-align: center; }

.content {
  padding-top: calc(50vh - 200px); }

.seventy_width {
  width: 70%;
  margin-left: 15%; }

.diamond {
  margin: auto;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background-color: #359aff;
  transition: 0.2s cubic-bezier(1, -1, 0, 2);
  clip-path: polygon(50% 0%, 65% 15%, 75% 25%, 90% 40%, 100% 50%, 90% 60%, 75% 75%, 65% 85%, 50% 100%, 35% 85%, 10% 60%, 0 50%, 10% 40%, 20% 30%, 35% 15%); }

.intro_text {
  box-sizing: border-box;
  text-align: left; }

.neal_picture {
  background-image: url("../images/fullscreenimage_smaller.png");
  padding-bottom: 20em;
  background-size: cover;
  background-position-x: 20px;
  background-repeat: no-repeat; }

.flex_container {
  display: flex; }

.flex_item {
  width: 50%; }

.third_size {
  width: 15%;
  margin-left: 9%;
  margin-right: 9%;
  padding-bottom: 15%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent !important; }

.narrow_width {
  width: 50%;
  margin-left: 25%; }

.section {
  margin-top: 7em;
  margin-bottom: 7em; }

.links_container {
  width: 50%; }

.links_section {
  text-align: left;
  color: white; }

.end_pad {
  padding-bottom: 5em; }

.html {
  background-image: url("../images/skills_icons/html5.png"); }

.css {
  background-image: url("../images/skills_icons/css3.png"); }

.js {
  background-image: url("../images/skills_icons/js.png"); }

.github_link {
  background-image: url("../images/links_icons/github.png"); }

.linkedin_link {
  background-image: url("../images/links_icons/linkedin.png"); }

.instagram_link {
  background-image: url("../images/links_icons/instagram.png"); }

@media only screen and (max-width: 440px) {
  .flex_container {
    display: inline-block; }
  .flex_item {
    width: 100%; }
  .neal_picture {
    background-image: url("../images/fullscreenimage_smaller.png");
    padding-bottom: 10em;
    background-position-x: left;
    background-size: contain;
    background-repeat: no-repeat; }
  .narrow_width {
    width: 90%;
    margin-left: 5%; }
  .phone_flex_container {
    display: flex; }
  .phone_flex_item {
    width: 50%; } }
