/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/01/2019, 2:13:45 PM
    Author     : Dev
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/01/2019, 2:15:12 PM
    Author     : Dev
*/
html {
  font-family: "Fira Sans", sans-serif; }

a {
  margin-right: 0.5em;
  margin-left: 0.5em;
  font-size: 1em;
  font-weight: 100;
  background: #ff1111;
  padding: 5px 40px;
  transition: 0.2s cubic-bezier(1, -1, 0, 2);
  clip-path: polygon(10% 0, 100% 0, 95% 50%, 90% 100%, 0 100%);
  text-decoration: none;
  color: white; }

a:visited {
  color: white;
  text-decoration: none; }

a:hover {
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #ff1111;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 0 100%); }

h1 {
  font-size: 4em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 20px; }

h2 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

#LOGO {
  position: fixed;
  top: 2em;
  left: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  transition: 0.2s cubic-bezier(1, -1, 0, 2);
  clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 90% 25%, 90% 90%, 60% 90%, 60% 70%, 60% 70%, 60% 90%, 10% 90%, 10% 25%); }

#LOGO:hover {
  clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 90% 25%, 90% 90%, 60% 90%, 60% 70%, 55% 70%, 55% 90%, 10% 90%, 10% 25%); }

@media only screen and (max-width: 440px) {
  #LOGO {
    top: 0.5em;
    left: 1em;
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em; } }

html {
  background: linear-gradient(to bottom, #000b28 60%, #ff99cc 200%);
  overflow: hidden;
  height: 100%; }

body {
  color: white;
  text-align: center; }

.centered_content {
  padding-top: calc(50vh - 200px);
  height: 400px; }

.morph_text_container {
  font-weight: 200;
  margin-bottom: 20px; }

.buttons {
  display: inline-flex; }

.morphing_picture {
  margin: auto;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  background-color: #359aff;
  transition: 0.2s cubic-bezier(1, -1, 0, 2);
  clip-path: polygon(50% 0%, 65% 15%, 75% 25%, 90% 40%, 100% 50%, 90% 60%, 75% 75%, 65% 85%, 50% 100%, 35% 85%, 10% 60%, 0 50%, 10% 40%, 20% 30%, 35% 15%); }

.computer:hover ~ .morphing_picture {
  clip-path: polygon(50% 5%, 95% 10%, 95% 60%, 60% 60%, 60% 70%, 75% 75%, 95% 80%, 95% 90%, 5% 90%, 5% 80%, 25% 75%, 40% 70%, 40% 60%, 5% 60%, 5% 10%); }

.pencil:hover ~ .morphing_picture {
  clip-path: polygon(70% 10%, 75% 10%, 90% 25%, 90% 30%, 75% 45%, 65% 55%, 50% 70%, 40% 80%, 30% 90%, 5% 95%, 10% 70%, 20% 60%, 30% 50%, 50% 30%, 60% 20%); }

.refresh:hover ~ .morphing_picture {
  clip-path: polygon(85% 15%, 85% 85%, 15% 85%, 15% 55%, 30% 55%, 30% 70%, 70% 70%, 70% 30%, 30% 30%, 30% 35%, 35% 35%, 22.5% 50%, 10% 35%, 15% 35%, 15% 15%); }

.head:hover ~ .morphing_picture {
  clip-path: polygon(50% 5%, 60% 35%, 90% 35%, 65% 50%, 80% 90%, 50% 65%, 20% 90%, 35% 50%, 10% 35%, 40% 35%, 40% 35%, 40% 35%, 40% 35%, 40% 35%, 40% 35%);
  background-color: gold;
  -webkit-transition: 0.2s cubic-bezier(1, -1, 0, 2) background-color 300ms linear;
  -ms-transition: 0.2s cubic-bezier(1, -1, 0, 2) background-color 300ms linear;
  transition: 0.2s cubic-bezier(1, -1, 0, 2) background-color 300ms linear; }

@keyframes shake {
  10%, 30% {
    transform: translate3d(-2px, 0, 0); }
  20%, 40% {
    transform: translate3d(2px, 0, 0); }
  50% {
    transform: translate3d(0, 0, 0); } }

.talents {
  display: inline-block;
  animation: shake 4s infinite;
  animation-delay: 3s;
  transform: translate3d(0, 0, 0);
  cursor: crosshair; }

.talents:hover {
  animation: none;
  color: #359aff; }

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(3vw, 2vh, 49px); } }

.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.01;
  height: 10px;
  width: 10px;
  animation-delay: -0.2s;
  transform: translate3d(60vw, 12vh, 28px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(69vw, 83vh, 28px); } }

.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.02;
  height: 7px;
  width: 7px;
  animation-delay: -0.4s;
  transform: translate3d(71vw, 24vh, 94px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(84vw, 18vh, 50px); } }

.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.67;
  height: 7px;
  width: 7px;
  animation-delay: -0.6s;
  transform: translate3d(38vw, 89vh, 47px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(8vw, 83vh, 59px); } }

.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.37;
  height: 8px;
  width: 8px;
  animation-delay: -0.8s;
  transform: translate3d(67vw, 14vh, 3px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(5vw, 50vh, 10px); } }

.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.16;
  height: 7px;
  width: 7px;
  animation-delay: -1s;
  transform: translate3d(30vw, 52vh, 99px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(73vw, 7vh, 75px); } }

.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.1;
  height: 8px;
  width: 8px;
  animation-delay: -1.2s;
  transform: translate3d(42vw, 43vh, 12px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(55vw, 38vh, 63px); } }

.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.47;
  height: 10px;
  width: 10px;
  animation-delay: -1.4s;
  transform: translate3d(53vw, 14vh, 85px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(81vw, 14vh, 24px); } }

.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.17;
  height: 8px;
  width: 8px;
  animation-delay: -1.6s;
  transform: translate3d(51vw, 56vh, 26px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(20vw, 11vh, 83px); } }

.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.96;
  height: 6px;
  width: 6px;
  animation-delay: -1.8s;
  transform: translate3d(55vw, 46vh, 92px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(56vw, 36vh, 98px); } }

.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.54;
  height: 9px;
  width: 9px;
  animation-delay: -2s;
  transform: translate3d(30vw, 53vh, 42px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(11vw, 84vh, 20px); } }

.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.84;
  height: 8px;
  width: 8px;
  animation-delay: -2.2s;
  transform: translate3d(69vw, 39vh, 45px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(48vw, 33vh, 50px); } }

.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.84;
  height: 8px;
  width: 8px;
  animation-delay: -2.4s;
  transform: translate3d(66vw, 30vh, 40px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(63vw, 21vh, 16px); } }

.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.22;
  height: 7px;
  width: 7px;
  animation-delay: -2.6s;
  transform: translate3d(66vw, 60vh, 50px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(71vw, 77vh, 73px); } }

.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.23;
  height: 10px;
  width: 10px;
  animation-delay: -2.8s;
  transform: translate3d(63vw, 62vh, 28px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(10vw, 83vh, 54px); } }

.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.94;
  height: 6px;
  width: 6px;
  animation-delay: -3s;
  transform: translate3d(39vw, 44vh, 47px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(60vw, 32vh, 93px); } }

.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.48;
  height: 8px;
  width: 8px;
  animation-delay: -3.2s;
  transform: translate3d(27vw, 47vh, 35px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(7vw, 43vh, 25px); } }

.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.96;
  height: 7px;
  width: 7px;
  animation-delay: -3.4s;
  transform: translate3d(39vw, 84vh, 1px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(30vw, 68vh, 88px); } }

.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.81;
  height: 7px;
  width: 7px;
  animation-delay: -3.6s;
  transform: translate3d(48vw, 12vh, 22px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(32vw, 25vh, 19px); } }

.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.27;
  height: 9px;
  width: 9px;
  animation-delay: -3.8s;
  transform: translate3d(52vw, 32vh, 75px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(64vw, 44vh, 97px); } }

.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.94;
  height: 9px;
  width: 9px;
  animation-delay: -4s;
  transform: translate3d(58vw, 64vh, 11px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(2vw, 50vh, 46px); } }

.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 1;
  height: 10px;
  width: 10px;
  animation-delay: -4.2s;
  transform: translate3d(34vw, 75vh, 11px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(84vw, 89vh, 90px); } }

.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.91;
  height: 9px;
  width: 9px;
  animation-delay: -4.4s;
  transform: translate3d(46vw, 28vh, 75px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(81vw, 41vh, 83px); } }

.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.67;
  height: 10px;
  width: 10px;
  animation-delay: -4.6s;
  transform: translate3d(35vw, 65vh, 84px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(25vw, 67vh, 1px); } }

.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.19;
  height: 9px;
  width: 9px;
  animation-delay: -4.8s;
  transform: translate3d(57vw, 30vh, 56px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(66vw, 29vh, 93px); } }

.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.58;
  height: 10px;
  width: 10px;
  animation-delay: -5s;
  transform: translate3d(55vw, 47vh, 87px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(69vw, 75vh, 62px); } }

.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.68;
  height: 7px;
  width: 7px;
  animation-delay: -5.2s;
  transform: translate3d(57vw, 8vh, 59px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(89vw, 17vh, 1px); } }

.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.05;
  height: 6px;
  width: 6px;
  animation-delay: -5.4s;
  transform: translate3d(46vw, 13vh, 99px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(6vw, 81vh, 89px); } }

.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.07;
  height: 7px;
  width: 7px;
  animation-delay: -5.6s;
  transform: translate3d(70vw, 48vh, 95px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(57vw, 18vh, 60px); } }

.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.25;
  height: 9px;
  width: 9px;
  animation-delay: -5.8s;
  transform: translate3d(37vw, 63vh, 62px);
  background: black;
  box-shadow: 0 0 30px white; }

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(62vw, 45vh, 15px); } }

.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.3;
  height: 10px;
  width: 10px;
  animation-delay: -6s;
  transform: translate3d(28vw, 79vh, 93px);
  background: black;
  box-shadow: 0 0 30px white; }

.particle {
  position: absolute;
  border-radius: 50%; }

@keyframes planet_particle_animation-1 {
  100% {
    transform: translate3d(49vw, 27vh, 41px); } }

.planet_particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.41;
  height: 9px;
  width: 9px;
  animation-delay: -0.2s;
  transform: translate3d(47vw, 75vh, 73px);
  background: #d3adeb; }

@keyframes planet_particle_animation-2 {
  100% {
    transform: translate3d(42vw, 4vh, 2px); } }

.planet_particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.43;
  height: 9px;
  width: 9px;
  animation-delay: -0.4s;
  transform: translate3d(42vw, 6vh, 18px);
  background: #ebd5ad; }

@keyframes planet_particle_animation-3 {
  100% {
    transform: translate3d(12vw, 76vh, 83px); } }

.planet_particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.53;
  height: 10px;
  width: 10px;
  animation-delay: -0.6s;
  transform: translate3d(33vw, 77vh, 1px);
  background: #ebadc0; }

@keyframes planet_particle_animation-4 {
  100% {
    transform: translate3d(40vw, 83vh, 75px); } }

.planet_particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.52;
  height: 7px;
  width: 7px;
  animation-delay: -0.8s;
  transform: translate3d(72vw, 74vh, 39px);
  background: #ebb3ad; }

@keyframes planet_particle_animation-5 {
  100% {
    transform: translate3d(85vw, 1vh, 63px); } }

.planet_particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 1;
  height: 8px;
  width: 8px;
  animation-delay: -1s;
  transform: translate3d(46vw, 25vh, 89px);
  background: #afadeb; }

@keyframes planet_particle_animation-6 {
  100% {
    transform: translate3d(82vw, 10vh, 75px); } }

.planet_particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.58;
  height: 9px;
  width: 9px;
  animation-delay: -1.2s;
  transform: translate3d(36vw, 16vh, 59px);
  background: #adebb5; }

@keyframes planet_particle_animation-7 {
  100% {
    transform: translate3d(69vw, 61vh, 53px); } }

.planet_particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.35;
  height: 9px;
  width: 9px;
  animation-delay: -1.4s;
  transform: translate3d(70vw, 24vh, 72px);
  background: #adddeb; }

@keyframes planet_particle_animation-8 {
  100% {
    transform: translate3d(85vw, 22vh, 78px); } }

.planet_particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.76;
  height: 9px;
  width: 9px;
  animation-delay: -1.6s;
  transform: translate3d(35vw, 75vh, 14px);
  background: #adebd4; }

@keyframes planet_particle_animation-9 {
  100% {
    transform: translate3d(40vw, 49vh, 22px); } }

.planet_particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.86;
  height: 8px;
  width: 8px;
  animation-delay: -1.8s;
  transform: translate3d(39vw, 28vh, 55px);
  background: #ebade8; }

@keyframes planet_particle_animation-10 {
  100% {
    transform: translate3d(15vw, 49vh, 96px); } }

.planet_particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.96;
  height: 6px;
  width: 6px;
  animation-delay: -2s;
  transform: translate3d(62vw, 71vh, 29px);
  background: #ebaead; }

@keyframes planet_particle_animation-11 {
  100% {
    transform: translate3d(31vw, 86vh, 85px); } }

.planet_particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.32;
  height: 7px;
  width: 7px;
  animation-delay: -2.2s;
  transform: translate3d(41vw, 14vh, 77px);
  background: #ebd4ad; }

@keyframes planet_particle_animation-12 {
  100% {
    transform: translate3d(69vw, 72vh, 88px); } }

.planet_particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.76;
  height: 9px;
  width: 9px;
  animation-delay: -2.4s;
  transform: translate3d(29vw, 50vh, 14px);
  background: #ddadeb; }

@keyframes planet_particle_animation-13 {
  100% {
    transform: translate3d(20vw, 80vh, 93px); } }

.planet_particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.63;
  height: 6px;
  width: 6px;
  animation-delay: -2.6s;
  transform: translate3d(26vw, 52vh, 20px);
  background: #adddeb; }

@keyframes planet_particle_animation-14 {
  100% {
    transform: translate3d(57vw, 26vh, 94px); } }

.planet_particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.1;
  height: 10px;
  width: 10px;
  animation-delay: -2.8s;
  transform: translate3d(66vw, 3vh, 89px);
  background: #deadeb; }

@keyframes planet_particle_animation-15 {
  100% {
    transform: translate3d(62vw, 19vh, 66px); } }

.planet_particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.89;
  height: 6px;
  width: 6px;
  animation-delay: -3s;
  transform: translate3d(28vw, 1vh, 2px);
  background: #ebade9; }

@keyframes planet_particle_animation-16 {
  100% {
    transform: translate3d(80vw, 81vh, 58px); } }

.planet_particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.98;
  height: 7px;
  width: 7px;
  animation-delay: -3.2s;
  transform: translate3d(74vw, 85vh, 87px);
  background: #bfadeb; }

@keyframes planet_particle_animation-17 {
  100% {
    transform: translate3d(50vw, 72vh, 25px); } }

.planet_particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.23;
  height: 7px;
  width: 7px;
  animation-delay: -3.4s;
  transform: translate3d(72vw, 4vh, 99px);
  background: #ebc9ad; }

@keyframes planet_particle_animation-18 {
  100% {
    transform: translate3d(53vw, 90vh, 35px); } }

.planet_particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.07;
  height: 8px;
  width: 8px;
  animation-delay: -3.6s;
  transform: translate3d(46vw, 22vh, 8px);
  background: #caadeb; }

@keyframes planet_particle_animation-19 {
  100% {
    transform: translate3d(5vw, 79vh, 97px); } }

.planet_particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.15;
  height: 6px;
  width: 6px;
  animation-delay: -3.8s;
  transform: translate3d(30vw, 86vh, 30px);
  background: #ebadc5; }

@keyframes planet_particle_animation-20 {
  100% {
    transform: translate3d(65vw, 32vh, 40px); } }

.planet_particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.49;
  height: 10px;
  width: 10px;
  animation-delay: -4s;
  transform: translate3d(43vw, 14vh, 5px);
  background: #ebdfad; }

@keyframes planet_particle_animation-21 {
  100% {
    transform: translate3d(54vw, 13vh, 28px); } }

.planet_particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.01;
  height: 8px;
  width: 8px;
  animation-delay: -4.2s;
  transform: translate3d(64vw, 58vh, 81px);
  background: #adebb4; }

@keyframes planet_particle_animation-22 {
  100% {
    transform: translate3d(51vw, 32vh, 86px); } }

.planet_particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.22;
  height: 8px;
  width: 8px;
  animation-delay: -4.4s;
  transform: translate3d(55vw, 51vh, 26px);
  background: #ebadc8; }

@keyframes planet_particle_animation-23 {
  100% {
    transform: translate3d(52vw, 43vh, 73px); } }

.planet_particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.73;
  height: 8px;
  width: 8px;
  animation-delay: -4.6s;
  transform: translate3d(59vw, 41vh, 94px);
  background: #e3ebad; }

@keyframes planet_particle_animation-24 {
  100% {
    transform: translate3d(45vw, 76vh, 70px); } }

.planet_particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.94;
  height: 10px;
  width: 10px;
  animation-delay: -4.8s;
  transform: translate3d(46vw, 2vh, 85px);
  background: #ebdcad; }

@keyframes planet_particle_animation-25 {
  100% {
    transform: translate3d(63vw, 80vh, 15px); } }

.planet_particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.98;
  height: 7px;
  width: 7px;
  animation-delay: -5s;
  transform: translate3d(46vw, 2vh, 91px);
  background: #adebc2; }

@keyframes planet_particle_animation-26 {
  100% {
    transform: translate3d(37vw, 31vh, 2px); } }

.planet_particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.55;
  height: 9px;
  width: 9px;
  animation-delay: -5.2s;
  transform: translate3d(53vw, 64vh, 30px);
  background: #adeaeb; }

@keyframes planet_particle_animation-27 {
  100% {
    transform: translate3d(82vw, 64vh, 93px); } }

.planet_particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.75;
  height: 7px;
  width: 7px;
  animation-delay: -5.4s;
  transform: translate3d(41vw, 72vh, 41px);
  background: #adc2eb; }

@keyframes planet_particle_animation-28 {
  100% {
    transform: translate3d(54vw, 84vh, 33px); } }

.planet_particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.97;
  height: 9px;
  width: 9px;
  animation-delay: -5.6s;
  transform: translate3d(75vw, 81vh, 38px);
  background: #ebcbad; }

@keyframes planet_particle_animation-29 {
  100% {
    transform: translate3d(25vw, 47vh, 32px); } }

.planet_particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.3;
  height: 10px;
  width: 10px;
  animation-delay: -5.8s;
  transform: translate3d(69vw, 66vh, 14px);
  background: #d8ebad; }

@keyframes planet_particle_animation-30 {
  100% {
    transform: translate3d(6vw, 52vh, 85px); } }

.planet_particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.96;
  height: 7px;
  width: 7px;
  animation-delay: -6s;
  transform: translate3d(50vw, 75vh, 17px);
  background: #adebe2; }

#planet_particle_container {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 0px;
  height: 0px;
  background-color: white;
  transform-style: preserve-3d;
  perspective: 2000px;
  animation: rotate 14s infinite linear; }

@keyframes rotate {
  100% {
    transform: rotateY(360deg) rotateX(360deg); } }

.planet_particle {
  position: relative;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  opacity: 0; }

.planet_particle:nth-child(1) {
  animation: orbit1 14s infinite;
  animation-delay: 0.01s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit1 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-189deg) rotateY(63deg) translateX(300px) rotateZ(189deg); }
  80% {
    transform: rotateZ(-189deg) rotateY(63deg) translateX(300px) rotateZ(189deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-189deg) rotateY(63deg) translateX(900px) rotateZ(189deg); } }

.planet_particle:nth-child(2) {
  animation: orbit2 14s infinite;
  animation-delay: 0.02s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit2 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-70deg) rotateY(294deg) translateX(300px) rotateZ(70deg); }
  80% {
    transform: rotateZ(-70deg) rotateY(294deg) translateX(300px) rotateZ(70deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-70deg) rotateY(294deg) translateX(900px) rotateZ(70deg); } }

.planet_particle:nth-child(3) {
  animation: orbit3 14s infinite;
  animation-delay: 0.03s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit3 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-154deg) rotateY(280deg) translateX(300px) rotateZ(154deg); }
  80% {
    transform: rotateZ(-154deg) rotateY(280deg) translateX(300px) rotateZ(154deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-154deg) rotateY(280deg) translateX(900px) rotateZ(154deg); } }

.planet_particle:nth-child(4) {
  animation: orbit4 14s infinite;
  animation-delay: 0.04s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit4 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-359deg) rotateY(85deg) translateX(300px) rotateZ(359deg); }
  80% {
    transform: rotateZ(-359deg) rotateY(85deg) translateX(300px) rotateZ(359deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-359deg) rotateY(85deg) translateX(900px) rotateZ(359deg); } }

.planet_particle:nth-child(5) {
  animation: orbit5 14s infinite;
  animation-delay: 0.05s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit5 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-103deg) rotateY(2deg) translateX(300px) rotateZ(103deg); }
  80% {
    transform: rotateZ(-103deg) rotateY(2deg) translateX(300px) rotateZ(103deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-103deg) rotateY(2deg) translateX(900px) rotateZ(103deg); } }

.planet_particle:nth-child(6) {
  animation: orbit6 14s infinite;
  animation-delay: 0.06s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit6 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-305deg) rotateY(302deg) translateX(300px) rotateZ(305deg); }
  80% {
    transform: rotateZ(-305deg) rotateY(302deg) translateX(300px) rotateZ(305deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-305deg) rotateY(302deg) translateX(900px) rotateZ(305deg); } }

.planet_particle:nth-child(7) {
  animation: orbit7 14s infinite;
  animation-delay: 0.07s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit7 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-286deg) rotateY(348deg) translateX(300px) rotateZ(286deg); }
  80% {
    transform: rotateZ(-286deg) rotateY(348deg) translateX(300px) rotateZ(286deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-286deg) rotateY(348deg) translateX(900px) rotateZ(286deg); } }

.planet_particle:nth-child(8) {
  animation: orbit8 14s infinite;
  animation-delay: 0.08s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit8 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-14deg) rotateY(68deg) translateX(300px) rotateZ(14deg); }
  80% {
    transform: rotateZ(-14deg) rotateY(68deg) translateX(300px) rotateZ(14deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-14deg) rotateY(68deg) translateX(900px) rotateZ(14deg); } }

.planet_particle:nth-child(9) {
  animation: orbit9 14s infinite;
  animation-delay: 0.09s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit9 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-306deg) rotateY(31deg) translateX(300px) rotateZ(306deg); }
  80% {
    transform: rotateZ(-306deg) rotateY(31deg) translateX(300px) rotateZ(306deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-306deg) rotateY(31deg) translateX(900px) rotateZ(306deg); } }

.planet_particle:nth-child(10) {
  animation: orbit10 14s infinite;
  animation-delay: 0.1s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit10 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-280deg) rotateY(41deg) translateX(300px) rotateZ(280deg); }
  80% {
    transform: rotateZ(-280deg) rotateY(41deg) translateX(300px) rotateZ(280deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-280deg) rotateY(41deg) translateX(900px) rotateZ(280deg); } }

.planet_particle:nth-child(11) {
  animation: orbit11 14s infinite;
  animation-delay: 0.11s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit11 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-41deg) rotateY(246deg) translateX(300px) rotateZ(41deg); }
  80% {
    transform: rotateZ(-41deg) rotateY(246deg) translateX(300px) rotateZ(41deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-41deg) rotateY(246deg) translateX(900px) rotateZ(41deg); } }

.planet_particle:nth-child(12) {
  animation: orbit12 14s infinite;
  animation-delay: 0.12s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit12 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-331deg) rotateY(272deg) translateX(300px) rotateZ(331deg); }
  80% {
    transform: rotateZ(-331deg) rotateY(272deg) translateX(300px) rotateZ(331deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-331deg) rotateY(272deg) translateX(900px) rotateZ(331deg); } }

.planet_particle:nth-child(13) {
  animation: orbit13 14s infinite;
  animation-delay: 0.13s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit13 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-5deg) rotateY(316deg) translateX(300px) rotateZ(5deg); }
  80% {
    transform: rotateZ(-5deg) rotateY(316deg) translateX(300px) rotateZ(5deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-5deg) rotateY(316deg) translateX(900px) rotateZ(5deg); } }

.planet_particle:nth-child(14) {
  animation: orbit14 14s infinite;
  animation-delay: 0.14s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit14 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-229deg) rotateY(305deg) translateX(300px) rotateZ(229deg); }
  80% {
    transform: rotateZ(-229deg) rotateY(305deg) translateX(300px) rotateZ(229deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-229deg) rotateY(305deg) translateX(900px) rotateZ(229deg); } }

.planet_particle:nth-child(15) {
  animation: orbit15 14s infinite;
  animation-delay: 0.15s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit15 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-355deg) rotateY(279deg) translateX(300px) rotateZ(355deg); }
  80% {
    transform: rotateZ(-355deg) rotateY(279deg) translateX(300px) rotateZ(355deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-355deg) rotateY(279deg) translateX(900px) rotateZ(355deg); } }

.planet_particle:nth-child(16) {
  animation: orbit16 14s infinite;
  animation-delay: 0.16s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit16 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-179deg) rotateY(311deg) translateX(300px) rotateZ(179deg); }
  80% {
    transform: rotateZ(-179deg) rotateY(311deg) translateX(300px) rotateZ(179deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-179deg) rotateY(311deg) translateX(900px) rotateZ(179deg); } }

.planet_particle:nth-child(17) {
  animation: orbit17 14s infinite;
  animation-delay: 0.17s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit17 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-48deg) rotateY(314deg) translateX(300px) rotateZ(48deg); }
  80% {
    transform: rotateZ(-48deg) rotateY(314deg) translateX(300px) rotateZ(48deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-48deg) rotateY(314deg) translateX(900px) rotateZ(48deg); } }

.planet_particle:nth-child(18) {
  animation: orbit18 14s infinite;
  animation-delay: 0.18s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit18 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-293deg) rotateY(101deg) translateX(300px) rotateZ(293deg); }
  80% {
    transform: rotateZ(-293deg) rotateY(101deg) translateX(300px) rotateZ(293deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-293deg) rotateY(101deg) translateX(900px) rotateZ(293deg); } }

.planet_particle:nth-child(19) {
  animation: orbit19 14s infinite;
  animation-delay: 0.19s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit19 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-278deg) rotateY(16deg) translateX(300px) rotateZ(278deg); }
  80% {
    transform: rotateZ(-278deg) rotateY(16deg) translateX(300px) rotateZ(278deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-278deg) rotateY(16deg) translateX(900px) rotateZ(278deg); } }

.planet_particle:nth-child(20) {
  animation: orbit20 14s infinite;
  animation-delay: 0.2s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit20 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-68deg) rotateY(87deg) translateX(300px) rotateZ(68deg); }
  80% {
    transform: rotateZ(-68deg) rotateY(87deg) translateX(300px) rotateZ(68deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-68deg) rotateY(87deg) translateX(900px) rotateZ(68deg); } }

.planet_particle:nth-child(21) {
  animation: orbit21 14s infinite;
  animation-delay: 0.21s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit21 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-258deg) rotateY(169deg) translateX(300px) rotateZ(258deg); }
  80% {
    transform: rotateZ(-258deg) rotateY(169deg) translateX(300px) rotateZ(258deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-258deg) rotateY(169deg) translateX(900px) rotateZ(258deg); } }

.planet_particle:nth-child(22) {
  animation: orbit22 14s infinite;
  animation-delay: 0.22s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit22 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-222deg) rotateY(240deg) translateX(300px) rotateZ(222deg); }
  80% {
    transform: rotateZ(-222deg) rotateY(240deg) translateX(300px) rotateZ(222deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-222deg) rotateY(240deg) translateX(900px) rotateZ(222deg); } }

.planet_particle:nth-child(23) {
  animation: orbit23 14s infinite;
  animation-delay: 0.23s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit23 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-38deg) rotateY(266deg) translateX(300px) rotateZ(38deg); }
  80% {
    transform: rotateZ(-38deg) rotateY(266deg) translateX(300px) rotateZ(38deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-38deg) rotateY(266deg) translateX(900px) rotateZ(38deg); } }

.planet_particle:nth-child(24) {
  animation: orbit24 14s infinite;
  animation-delay: 0.24s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit24 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-133deg) rotateY(7deg) translateX(300px) rotateZ(133deg); }
  80% {
    transform: rotateZ(-133deg) rotateY(7deg) translateX(300px) rotateZ(133deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-133deg) rotateY(7deg) translateX(900px) rotateZ(133deg); } }

.planet_particle:nth-child(25) {
  animation: orbit25 14s infinite;
  animation-delay: 0.25s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit25 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-308deg) rotateY(120deg) translateX(300px) rotateZ(308deg); }
  80% {
    transform: rotateZ(-308deg) rotateY(120deg) translateX(300px) rotateZ(308deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-308deg) rotateY(120deg) translateX(900px) rotateZ(308deg); } }

.planet_particle:nth-child(26) {
  animation: orbit26 14s infinite;
  animation-delay: 0.26s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit26 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-284deg) rotateY(103deg) translateX(300px) rotateZ(284deg); }
  80% {
    transform: rotateZ(-284deg) rotateY(103deg) translateX(300px) rotateZ(284deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-284deg) rotateY(103deg) translateX(900px) rotateZ(284deg); } }

.planet_particle:nth-child(27) {
  animation: orbit27 14s infinite;
  animation-delay: 0.27s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit27 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-321deg) rotateY(78deg) translateX(300px) rotateZ(321deg); }
  80% {
    transform: rotateZ(-321deg) rotateY(78deg) translateX(300px) rotateZ(321deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-321deg) rotateY(78deg) translateX(900px) rotateZ(321deg); } }

.planet_particle:nth-child(28) {
  animation: orbit28 14s infinite;
  animation-delay: 0.28s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit28 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-69deg) rotateY(166deg) translateX(300px) rotateZ(69deg); }
  80% {
    transform: rotateZ(-69deg) rotateY(166deg) translateX(300px) rotateZ(69deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-69deg) rotateY(166deg) translateX(900px) rotateZ(69deg); } }

.planet_particle:nth-child(29) {
  animation: orbit29 14s infinite;
  animation-delay: 0.29s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit29 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-140deg) rotateY(142deg) translateX(300px) rotateZ(140deg); }
  80% {
    transform: rotateZ(-140deg) rotateY(142deg) translateX(300px) rotateZ(140deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-140deg) rotateY(142deg) translateX(900px) rotateZ(140deg); } }

.planet_particle:nth-child(30) {
  animation: orbit30 14s infinite;
  animation-delay: 0.3s;
  background-color: black;
  box-shadow: 0 0 20px white; }

@keyframes orbit30 {
  20% {
    opacity: 1; }
  30% {
    transform: rotateZ(-343deg) rotateY(215deg) translateX(300px) rotateZ(343deg); }
  80% {
    transform: rotateZ(-343deg) rotateY(215deg) translateX(300px) rotateZ(343deg);
    opacity: 1; }
  100% {
    transform: rotateZ(-343deg) rotateY(215deg) translateX(900px) rotateZ(343deg); } }
